.card {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid rgba(53, 184, 190, 0.15);
  border-radius: 6px;
  padding: 26px;
  gap: 26px;
  width: 95%;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price {
  margin-right: 40px;
}

.buttonWrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .card {
    gap: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px
  }
  
  .card {
    gap: 30px;
    padding: 26px 15px;
  }
}

@media screen and (max-width: 790px) {
  .price {
    margin-right: 0;
  }
}

@media screen and (max-width: 450px) {
  .buttonWrapper{
    gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .price {
    margin-right: 40px;
  }

  .buttonWrapper {
    justify-content: space-between;
  }

  .wrapper {
    align-items: center;
  }
}